* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-size: 0.37333rem; }

body {
  -webkit-user-select: none;
  -webkit-touch-callout: none; }

button, textarea, select, input {
  appearance: none; }

a {
  -webkit-tap-highlight-color: black; }

html, body {
  width: 100%;
  height: 100%; }

.mui-bar-nav {
  background: orangered; }

input {
  width: 80%;
  height: auto; }

.done {
  width: 90%;
  height: auto;
  background: orangered;
  border-radius: 0.8rem;
  padding: 0.13333rem 0;
  color: #fff;
  text-align: center;
  font-size: 0.69333rem;
  margin: 0 auto;
  position: fixed;
  left: 0;
  bottom: 0; }
